.cover-page {
  min-height: 100vh;
  background-color: #121418;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;

}

.nav-links a {
  margin-left: 1.5rem;
  color: #aaa;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: white;
}

.nav-links .active {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 0.2rem;
}

.main-content {
  text-align: center;
  padding: 3rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {

  color: #fff;
  font-size: 65px;
  line-height: 68px;
  font-weight: 400;
  margin: 0 auto 25px;
  max-width: 600px;
  font-family: "georgia";
}

.description {
  max-width: 600px;
  font-size: 1.125rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.learn-button {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn-button:hover {
  background-color: #e5e5e5;
}

.footer {
  text-align: center;
  font-size: 0.875rem;
  color: #888;
  padding: 1rem;
  margin-top: 110px;
}

.footer a {
  color: #ccc;
  text-decoration: underline;
}
#gradient-text {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(270deg, #3b82f6, #ec4899, #f97316);
  background-size: 600% 600%;

  -webkit-text-fill-color: transparent;
  animation: shine 8s ease infinite;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.floating-icon {
  animation: float 6s ease-in-out infinite;
  will-change: transform;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}